<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Indominus Encoder</h1>
            <p>Es un aplicación realizada en 2019 en android studio empleando tanto java como kotlin. Cumple la función de ser un pseudo encriptador, recibe texto y lo transfroma a un "lenguaje" el cual puede ser "desencriptado" para comunicarse de manera privada por medios como whatasapp.<p>
        </div>
        
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img  src="../../../assets/indominus.jpeg" class="img-fluid img-proyecto">
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Asistente virtual M.Y.R.I.A.M</h1>
            <p>Proyecto realizado en python. Permite el manejo de la pc y realización de ciertas tareas utilizando comandos de voz y captura de movimiento de manos con webcam<p>
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Dolar to Peso</h1>
            <p>Proyecto realizado en python. Es un convertidor de divisas que realiza las conversiones en base a la cotización actualizada mediante webscrapping<p>
        </div>
        
    </div>
</div> 