.row{
    padding: 10px;
}
div{
    background-color: #5197ff;
}

#nombre{
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-left:0;
    margin-top: 5%;
}
#fullstack{
    font-style: italic;
    font-size: 20px;

}
h1{
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-left:0;
}
span{
    margin-left:5% ;
}
p{

}
.row{
    text-align: center
}