<div class="row" *ngIf="persona">
    

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <img [src]='persona.img' alt="" class="img-fluid rounded-pill">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p  id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p id="fullstack">Full stack developer Jr</p>
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="acercaDe">
    <span>
        <h1>Acerca de mí</h1>
        <p>Estudio Ciencias de la Computación en la UNR</p>
    </span>
    <button type="button" class="btn btn-light" routerLink="/editacercade/1" *ngIf="isLogged">
        Editar Persona
    </button>
    </div>
</div>
