<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/LogoAP.png" id="LogoAP">
        </div>
        <div class="redes">
            <button typer="buttom" (click) ="login()"class="btn btn-outline-light"*ngIf="!isLogged">Ingresar</button>
            <button typer="buttom" (click) ="onLogOut()"class="btn btn-outline-light" *ngIf="isLogged" >Salir</button>
            <a href="https://www.instagram.com/guido_montana/?igshid=YjM2YjNmNDA%3D"><img src="../../../assets/instagram.png"></a>
            <a href="https://github.com/Guido-Montana"><img src="../../../assets/git.png"></a>
        </div>
    </div>
    
</div>