.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row{
    margin: 0;
}
#LogoAP{
    height: 100px;
}
img{
    height:50px;
    margin-left:5px;
}
button{
    margin-right:5px;
}

@media (max-width: 400px){
    .container{
        flex-direction: column;
    }
    .redes{
        display: flex;
        flex-direction: colum;
        align-items:center;
    }

}
